<!-- app/views/layouts/teacher.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title>Teacher Portal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="flex min-h-screen">
    <aside class="w-64 bg-white text-black p-4">
      <div class="mb-8">
        <h1 class="text-xl font-bold text-black">Teacher Portal</h1>
        <p class="text-sm text-slate-400"><%= current_user.name %></p>
      </div>
      <nav>
        <% if @course&.persisted? %>
          <%= link_to courses_path, class: "flex items-center gap-2 text-white font-semibold py-3 px-4 rounded-xl bg-[#261ce6] hover:bg-[#1a14a3] transition-all duration-200 mb-2" do %>
            <%= image_tag "backoffice/back-icon.svg", class: "w-5 h-5 " %>
            <span>Back</span>
          <% end %>
          <p class="text-sm text-slate-400 mb-2"><%= @course.code %></p>
          <%= link_to course_path(@course), class: "flex items-center gap-2 cursor-pointer text-[#261ce6] font-semibold block py-3 px-4 rounded-xl mb-2 #{'bg-[#261ce6]/10 border-r-4 border-[#261ce6]' if action_name == 'show'}" do %>
            <%= image_tag "backoffice/course-detail-icon.svg", class: "w-5 h-5 " %>
            <span>Course Summary</span>
          <% end %>
          <%= link_to course_enrolled_students_path(@course), class: "flex items-center gap-2 cursor-pointer text-[#261ce6] font-semibold block py-3 px-4 rounded-xl mb-2 #{'bg-[#261ce6]/10 border-r-4 border-[#261ce6]' if controller_name == 'enrolled_students'}" do %>
            <%= image_tag "backoffice/student-icon.svg", class: "w-5 h-5 " %>
            <span>Students</span>
          <% end %>
          <%= link_to course_checkin_forms_path(@course), class: "flex items-center gap-2 cursor-pointer text-[#261ce6] font-semibold block py-3 px-4 rounded-xl mb-2 #{'bg-[#261ce6]/10 border-r-4 border-[#261ce6]' if controller_name == 'checkin_forms'}" do %>
            <%= image_tag "backoffice/session-icon.svg", class: "w-5 h-5 " %>
            <span>Session</span>
          <% end %>
        <% else %>
          <%= link_to courses_path, class: "flex items-center gap-2 text-[#261ce6] font-semibold py-3 px-4 rounded-xl mb-2 transition #{'bg-[#261ce6]/10 border-r-4 border-[#261ce6]' if controller_name == 'courses' && ['index','new'].include?(action_name)}" do %>
            <%= image_tag "backoffice/course-icon.svg", class: "w-5 h-5 " %>
            <span>Courses</span>
          <% end %>
        <% end %>
        <hr class="border-slate-400 my-4">
        <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "cursor-pointer text-white font-semibold block py-3 px-4 rounded-xl bg-[#261ce6] hover:bg-[#1a14a3] mb-2" %>
      </nav>
    </aside>
    <main class="flex-1 bg-[#f8fafc]">
      <% if notice %>
        <div class="bg-green-100 text-green-800 p-4 rounded mb-4"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="bg-red-100 text-red-800 p-4 rounded mb-4"><%= alert %></div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>